{% extends 'base.html' %}

{% block title %} Car-review corpora: о корпусе {% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h5>каков размер корпуса?</h5>
        <br>
        80126 токенов.
        <br>
        <br>
        <h5>как собирался материал?</h5>
        <br>
        с помощью <b><a href="https://popsters.ru/">Popsters</a></b>. собранные посты можно посмотреть <b><a href="https://github.com/pmashkovtseva/nlp/blob/main/car-review-corpora/primary_data.xlsx">здесь.</a></b>
        <br>
        <br>
        <h5>как обрабатывался корпус?</h5>
        <br>
        TBA
    </div>
{% endblock %}